.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select {
    align-self: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.inputs>input,
.inputs select {
    width: inherit;
}

.inputs select {
    width: 100%;
}


.hidden {
    display: none;
}

form {
    display: flex;
    justify-content: center;
}

div {
    margin-top: 1em;
}

.main-stat,
.hidden-stat {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bonus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

select[name="category"] {
    margin-bottom: 1rem;
}

textarea {
    width: 100%;
}