.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select {
    align-self: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.inputs > input, .inputs select {
    margin-top: 1em;
    width: inherit;
}

.inputs select {
    width: 100%;
}


.hidden {
    display: none;
}