body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.inputs > input {
    margin-top: 1em;
    width: inherit;
}